* {
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #ffb833;
    background-color: #ffc14d;
}

.animal_chess {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.navbar ul {
    margin: 0;
    padding-left: 0px;
}

.navbar li {
    font-size: 25px;
    display: inline-block;
    margin: 0 3%;
    padding: 0;
}

.navbar a:hover {
    color: aliceblue;
    padding-left: 0px;
}

.game_table, .login_table {
    border: 2px solid black;
    width: 346px;
    height: 466px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#span i {
    display: none;
}

#game_board {
    width: 348px;
    height: 468px;
}

tr {
    width: 342px;
    height: 112px;
    padding: 0;
}

td {
    border: 1px solid black;
    width: 111px;
    height: 111px;
    table-layout: fixed;
    overflow: hidden;
    padding: 0px;
}

.team_red, .team_blue {
    height: 90px;
    width: 90px;
    display: block;
    margin: auto;
}

.team_red {
    border: 3px solid red;
    border: 3px solid red;
}

.team_blue {
    border: 3px solid blue;
    border: 3px solid blue;
}

input {
    font-size: 14px;
    margin-bottom: 20px;
}

.user_input {
    display: block;
    margin: 0 auto;
}

.sign {
    display: inline-block;
    margin: 55px 20px;
}

.button {
    padding-top: 10px;
}

.btn {
    margin: 0 auto;
    font-size: 20px;
    background-color: #80bfff;
}

button:focus {outline:0;}

input:focus {outline:0;}

.highlight_red {
    background-color: #ff8080;
}

.highlight_blue {
    background-color: #3399ff;
}

.header_font_change {
    text-align: center;
    font-size: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table td > img {
    overflow: hidden;
}

table td {
    padding: 0;
    position: relative;
}

img {
    width: 95px;
    height: 96px;
    font-size: 0;
    display: block;
    margin: 0 auto;
    padding: 0;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coordB {
    background-color: #2b6ce0;
}

.coordR {
    background-color: deeppink;
}

.coordB, .coordR {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    left: 20px;
    opacity: 0.6;
}