* {
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #ffb833;
    background-color: #ffc14d;
}

.animal_chess {
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.navbar ul {
    margin: 0;
    padding-left: 0px;
}

.navbar li {
    font-size: 25px;
    display: inline-block;
    margin: 0 3%;
    padding: 0;
}

.navbar a:hover {
    color: aliceblue;
    padding-left: 0px;
}

.game_table, .login_table {
    border: 2px solid black;
    width: 340px;
    height: 468px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.game_board {
    width: 340px;
    height: 468px;
}

.game_board td {
    padding: 0px;
    border: 2px solid black;
    width: 93px;
    height: 93pxpx;
}

.team_red, .team_blue {
    height: 90px;
    width: 90px;
    display: block;
    margin: auto;
}

.team_red {
    border: 3px solid red;
    border: 3px solid red;
}

.team_blue {
    border: 3px solid blue;
    border: 3px solid blue;
}

input {
    font-size: 14px;
}

.user_input {
    display: block;
    margin: 0 auto;
}

.button {
    padding-top: 10px;
}

.btn {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10%;
    background-color: #80bfff;
}

button:focus {outline:0;}

input:focus {outline:0;}

.highlight_red {
    background-color: #ff8080;
}

.highlight_blue {
    background-color: #3399ff;
}

.header_font_change {
    text-align: center;
    font-size: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
}